<li class="validated">
  <% link_to collabli do %>
    <%= avatar_for(collabli) %>
    <div class="user-details">
      <strong><%= collabli %></strong>
      <span class="strapline"><%= collabli.strapline %></span>
    </div>
    <div class="clear-this"> </div>
  <% end %>
</li>