  <p>
    <%= profile_fields.label :strapline, "Strapline" %>
    <%= profile_fields.text_field :strapline, :class => :largeInput %>
  </p>
  
  <p>
    <%= profile_fields.label :bio, "Bio / Descriptive text on your profile" %>
    <%= profile_fields.text_area :bio, :class => :largeInput %>
  </p>
  


	
