
<h1 id="this_user"><%= @user.login%> (<%= @user.name%>)</h1>

<h2>My projects:</h2>

<ul>
  <li>project 1</li>
  <li>project 2</li>
</ul>
<h2>My collaborators:</h2>
<ul>
  <li>collab 1</li>
  <li>collab 2</li>
</ul>

blah