<h1><%= @page_title = @user.name %></h1>

<h2>Projects:</h2>
<p>
<ul id="projects">
	<% @user.projects.each do |project| %>
    <li><%= link_to project, project%></li>
	<% end %>
</ul>

<p><%= link_to "New project", new_project_path, {:id=>"new-project-link"} %></p>
