<div id="pageNotFound">
  <h1>404 - User not found</h1>
  <p>Sorry <strong><%=request.url%></strong> doesn't match any known user. </p>
  <p>Try our <%= link_to "home page", root_url(:subdomain=>false)%> or <%= link_to "browse users", users_url(:subdomain=>false)%>.</p>
</div>
