<p>
  <%= link_fields.label :label, 'Link label (e.g. Home page, Blog, etc...)' %>
  <%= link_fields.text_field :label, :class=> :largeInput %>
</p>
<p>
  <%= link_fields.label :url, 'URL (http://...)'  %>
  <%= link_fields.text_field :url, :class=> :largeInput %>
</p>
