<div class="preview-image grid_3 <%= cycle('alpha','','omega') %>">
    <div class="preview-image-link"><%=main_project_image_for(project) %>
		<span class="projectname"><%=h(project)%></span>
		</div>
</div>