<div id="pageNotFound">
  <h1>404 - Project not found</h1>
  <p>Sorry <strong><%=request.url%></strong> doesn't match any known project. </p>
  <p>Try our <%= link_to "home page", "/"%> or <%= link_to "browse projects", projects_path%>.</p>
</div>
