<div id="manage-links">
  <p class="option"><a id="add-link" class="admin" href="javascript:$('add-link-form').show();$('add-link').hide();void(0)">Add a link...</a></p>

  <% form_for [ linkable, linkable.links.build(:url=>'http://') ], :url=> linkable_links_url, :html=> {:id => 'add-link-form', :style=>'display:none;', :class=>'admin'} do | f | %>
    <%= f.error_messages %>
      <%= f.hidden_field id_field %>

      <%= render :partial => 'links/fields', :object=>f %>

    <p>
        <%= submit_tag "Add link", :id=>'add-link-submit' %> <a href="javascript:$('add-link-form').hide();$('add-link').show();void(0)">Cancel</a>
    </p>
  <% end %>

</div>
