<p>
  <%= fields.label :label, 'Link label (Home page, Blog, etc...)' %>
  <%= fields.text_field :label, :class=> :largeInput %>
</p>
<p>
  <%= fields.label :url, 'URL'  %>
  <%= fields.text_field :url, :class=> :largeInput %>
</p>
