<ul class="linkList">
<% linkable.links.each do |link|%>
 <li><%= link_to link.label, link.url, :class => "ext-link" %> 
  <% if @show_admin %>
    <%= link_to 'Edit', edit_polymorphic_path([linkable, link]) , :class=>'admin edit-link'%> 
    <%=link_to 'Delete', polymorphic_path([linkable, link]) , :method=>:delete, :class=>'admin delete-link', :confirm=>"Are you sure you want to delete this link to #{link.url}?"%>
 <% end %>
 </li>
<% end %>
</ul>