<div class="grid_10 prefix_3 suffix_3">

  <h1>Editing Link</h1>

  <% form_for([@linkable, @link]) do |f| %>
    <%= f.error_messages %>

    <%= render :partial => 'links/fields', :object=>f %>

    <p>
      <%= f.submit 'Update' %> or
  <%= link_to 'Cancel', @linkable %>
    </p>
  <% end %>

</div>