


  <h1 id="logo" class="grid_16"><%= @page_title = "Contact us about Team Portfolios" %></h1>

  
  <div id="teaser" class="grid_16">
    <p>Team Portfolios is a site which provides portfolios and profiles for you and your collaborators. 
		Read more about Team Portfolios on our <%= link_to "profile page", '/projects/teamportfolios'%></p>
    
      
    <p>We currently are in a very early stage of development, and we'd love to hear your views to make this better. 
		Give us suggestions, praise, or problems by email (<a href="mailto:tim@red56.co.uk?subject=teamportfolios">tim@red56.co.uk</a>) or add an issue to our <%= link_to "NoKahuna project", 'http://nokahuna.com/projects/6775/tasks'%></p>
		
		
  </div>
  
  

   
  <div class="clear-this"> </div>
  

