<div id="header" class="">



  <h1 id="logo" class="grid_16"><%= @page_title = "Share your work..." %></h1>

  
  <div id="teaser" class="grid_6">
    <p>Portfolios and profiles for you and your collaborators.</p>
    
      <p>You can join Team Portfolios, if an existing member wants to show you as a collaborator on a project.</p>
			
      <p>If you have an account, <%= link_to "sign in here...",  login_path,  { :title => "Log in" }  %></p>
		
    
  </div>
  
  

  
  <div class="grid_9 prefix_1">
    <% @projects.each do |project|%>
      <%= render 'projects/preview', :project => project %>
    <% end %>

    
  </div>
  
  <div class="clear-this"> </div>
  
</div>