<div id="footer" class="<%= @footer_class || 'prefix_0' %>">
    <p>
        Portfolios and profiles powered by <%= link_to "Team Portfolios", "/projects/teamportfolios", { :title => "Find out more..." } %>.
				Please <%= link_to "contact us", contact_path %> with suggestions, praise or problems.
    </p>
</div>
